<!DOCTYPE html>
<html>
<head>
<title>Tiny App</title>
<link rel="stylesheet" type="text/css" href="/css/tinyapp.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<body>
<h1 id="welcome">WELCOME TO TINYAPP</h1>
  <div id="title" class="container">
  <% if(username){ %>
  <p>
  <form id="user" style="display:inline" action="/logout" method="POST">
   HELLO: <%= username %>
   <button type="submit" class="btn btn-primary">LOGOUT</button>
  </form>
  </p>
  <%} else {%>
 <form id="user"  action="/login" method="POST">
    <input type="text" name="username" placeholder="User Name">
   <button type="submit" class="btn btn-primary">SUBMIT</button>
  </form>
  <%} %>
</div>
