<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <body>
 <form id="user"  action="/login" method="POST">
    <input id="input" type="email" name="email" placeholder="email">
    <input id="input" type="password" name="password" placeholder="password">
    <br>
    <button id="user"type="submit" class="btn btn-primary">SUBMIT</button>
  </form>
</div>

</body>
</html>