<% include partials/_header %>
<div id="regForm">
 <form id="user"  action="/login" method="POST">
    <input id="input" type="email" name="email" placeholder="email">
    <input id="input" type="password" name="password" placeholder="password">
    <input type="submit" id="regButton" value="Login" name="LOGIN">
    <!-- <button id="regButton" type="submit" class="btn btn-primary">LOGIN</button> -->
  </form>
</div>

</body>
</html>