<% include partials/_header %>

<div id="regForm">
  <form method="POST" action="/register">
    <input id="longURL" type="email" name="email" placeholder="Email" style="width: 200px">
    <input id="longURL" type="password" name="password" placeholder="Password" style="width: 200px" style="border: black">
    <input id="regButton" type="submit" value="Submit">
  </form>
</div>