<% include partials/_header %>


<div id="containers" class="container">
<ul>
  <% for(var i =0;i < urls.length; i++){%>
  <li> <%= urls[i].shortURL %> : <%= urls[i].longURL %>
   <a href="/urls/<%= urls[i].shortURL %> "><span class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
  <form style="display:inline" method="POST" action="/urls/<%=urls[i].shortURL%>/delete">
    <button id="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></form>
 <%}%>
 </li>
</ul>

</div>
<% include partials/_footer %>
