<% include partials/_header %>



<div  id="welcomeBox" class="container">
  <%if(user){%>
  <div><h1 id="urlWelcome">Welcome Back:</h1> <h1 id="urlWelcome"><%= user.email %> </h1></div>
  <%}%>
  <br>
  <h3 id="urlWelcome">Want to update the following url</h3>
  <br>
<div id="newURL"><h1 id="newURL" style="display:inline">ShortURL:</h1>  <h1 id="newURL" style="display:inline" ><%= shortURL %></h1></div>
<br>
<br>
<form  id="newURL" action="/urls/<%= shortURL %>/update" method="POST"">
  <label for="longURL">Enter a New URL:</label>
  <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
  <input type="submit" value="UPDATE">
</form>
</div>
<% include partials/_footer %>
